body{
	background-color: white;
margin: 0;
padding: 0;


height: 100%;
overflow-y: scroll;
overflow-x: hidden;
font-family: "Luna";  
}
.topbar
{
	height: 20%;
	font-color: #86244d;
	font-family:sans-serif; 
	width: 100%;
background-color: #f1eee8;
background-attachment: fixed; 
}
h2
{
font-family:serif;
}
h5
{
	text-align-last: 70px;
	transform: translateY(-60px);
	font-family:serif;
	letter-spacing: 3px;
	font font-size: 3px; 

}
button
{
position:absolute;
top:5%;
right:20px;
font-style: arial,sans-serif;
font-size: 150%;
}
button
{
	font-color:white;
background:#8e2563;
color:white;
width:150px;
height:80px;
transition: .6s;
border:2px  solid #8e2563;
border-radius: 2px;
overflow: hidden;

}


button:focus {
	outline: none;

} 
button :before {
	content: '';
	width:130%;
	height:100%;
	top: 0;
	position:absolute;
	background:red;
transition: .3s;
z-index: -1;
opacity: .5s;
filter: blur(30px);
transform: translateX(-130px);
}

button :after {
	content: '';
	display: block;
	width:130%;
	height:100%;
	top: 100%;
	position:absolute;
	z-index: -1;
	opacity: 0;
	top: 0;
	filter: blur(30px);
	transform: translateX(-130px);


	background:red;
transition: .3s;

}
button:hover {
	color: red;
background: #441b2c;
cursor: pointer;
}
button:hover:before{
	transform: :translateX(300px);
	opacity: .6;
	transition: .7s;

}

button:hover:before{
	transform: :translateX(300px);
	opacity: 1;
	transition: .7s;
}	
.room h1{
	font-family: "Luna";
	letter-spacing: 0.78px;
	font-size: 40px;
	color:#86244d;
}

.room p{
	font-size: 20px;
	font-style: "solid";
	letter-spacing: .78px;
	font-family: "luna" sans-serif; 
	}
